
.metadata/
.settings/
.project
.cproject
*.launch
RTOS_workspace/.metadata/

Debug/
Release/
bin/
obj/
*.elf
*.hex
*.bin
*.map
*.lst
RTOS_workspace/underwater_rocket/Debug/
RTOS_workspace/underwater_rocket/Release/

Thumbs.db
Desktop.ini
.DS_Store
